

body{
    background-image : url("website1.png");
    background-size: cover; 
  font-family: 'Gamja Flower', cursive;
  font-weight:900px;
   font-size: 1.5rem;
   
}

#taskbar{
    background-color:#364c85;
    padding:15px;
    color :rgb(210, 218, 248);
    font-family: 'Sour Gummy', cursive;
}

.custom-btn{
    border:none;
    color : rgb(210, 218, 248);
}


.custom-btn.active {
    background-color: rgb(210, 218, 248);
    
    color : #364c85;
}

#about-container{
    
    width: 60%; 
    margin: 0 auto;
    padding:30px;
    margin-top : 30px;
    color : rgb(210, 218, 248);
    border-radius:15px;
    
    
}

#project-container{
    text-align:center;
     width: 60%; 
    margin: 0 auto;
    padding:30px;
    margin-top : 30px;
    color : rgb(210, 218, 248);
    border-radius:15px;
}

#project{
    color :  rgb(210, 218, 248);
    display:flex;
    width: 60%; 
    
    margin: 0 auto;
    overflow: hidden;
}

#box{
    width:50%;
    height:40%;
    margin:50px;
    padding:50px;
    border-radius:20px;
    background-color: #364c85;
}